html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    background: #EDE3C9;
}


/* Agregar variables para los colores, fonts y otras mas que se puedan agregar */


/*Custom Fonts**********IMPORTAR FONTS DESDE UNA API PROPIA / PARA NO ALMACENAR LOS ARCHIVOS LOCALMENTE***/

@font-face {
    font-family: TTFirsNeue-Regular;
    src: url(fonts/TTFirsNeue-Regular.ttf) format("opentype");
}

@font-face {
    font-family: TTFirsNeue-Bold;
    src: url(fonts/TTFirsNeue-Bold.ttf) format("opentype");
}


/**************************/


/*Logo********************/

.logo {
    margin-left: 37.5px;
    margin-top: 13px;
    margin-bottom: 17px;
    font-family: 'Stampbor-Shabby';
    font-size: 42px;
    color: #324470;
}

@font-face {
    font-family: Stampbor-Shabby;
    src: url(fonts/Stampbor-Shabby.otf) format("opentype");
}


/*************************/

.navbar {
    display: flex;
    height: 23px;
    justify-content: space-between;
    align-items: center;
    background: #D49D13;
    padding-top: 29px;
    padding-bottom: 28px;
    box-shadow: 0px -1px 3px 1px #3D3216
}


/*Menu*************/

.menu {
    align-items: center;
    margin-top: 29px;
    margin-right: 38px;
    margin-bottom: 28px;
    font-family: 'TTFirsNeue-Regular';
    font-size: 18px;
}

.menu ul {
    display: flex;
    width: 284px;
    justify-content: space-between;
    padding-left: 0px;
}

.menu li {
    list-style: none;
    cursor: pointer;
}

.menu li a {
    color: #3D3216;
    text-decoration: none;
}

.menu li a:hover {
    color: #EDE3C9;
    text-decoration: underline;
}


/************************/


/*MainSection**************/

.main_section h1 {
    color: #3D3216;
    font-size: 39px;
    font-family: 'TTFirsNeue-Bold';
    text-align: center;
    padding: 13%;
}

.products {
    background-image: url(curve.png);
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    justify-content: center;
}

.product_single {
    padding: 20px;
    margin-top: -300px;
}

.product_single .product_single-content {
    background-color: #EBEDF2;
    padding: 20px;
    padding-bottom: 23px;
    text-align: center;
    border-radius: 17px;
    box-shadow: rgba(61, 50, 22, 0.1) 0px 6px 12px 0px;
}

.main_button {
    background-color: #D49D13;
    font-family: 'TTFirsNeue-Bold';
    font-size: 19px;
    color: #EBEDF2;
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 13px;
    max-width: 217px;
    border-radius: 3px;
}

.main_button:hover {
    color: #3D3216;
}


/**********************************/


/*BenefitsSection**************/

.benefits_section {
    margin: 9.6%;
    margin-top: 160px;
    margin-bottom: 122.5px;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.benefits_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.benefits_content img {
    height: 105.5px;
    width: 103px;
    color: #3D3216;
    margin-bottom: 25px;
}

.benefits_content h1 {
    color: #3D3216;
    font-size: 21px;
    font-family: 'TTFirsNeue-Bold';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 9px;
}

.benefits_content p {
    color: #3D3216;
    font-size: 21px;
    font-family: 'TTFirsNeue-Regular';
    text-align: center;
    margin-top: 0px;
    text-align: justify;
}


/**********************************/


/*Mentions********************/

.mentions {
    display: flex;
    padding: 5%;
}

.mention img {
    width: 100%;
}

h1.mention_title {
    text-align: center;
    border-top: 1px solid #3D3216;
    padding-top: 6%;
    margin-top: 7%;
    color: #3D3216;
    font-size: 39px;
    font-family: 'TTFirsNeue-Bold';
}

.mention {
    margin: 1%;
    background-color: #EBEDF2;
    border-radius: 5px;
    box-shadow: rgba(61, 50, 22, 0.1) 0px 6px 12px 0px;
}

.text {
    padding-left: 9px;
    color: #3D3216;
    font-size: 21px;
    font-family: 'TTFirsNeue-Regular';
}

h2.mention-title {
    font-family: 'TTFirsNeue-Bold';
    font-size: 23px;
    margin-bottom: 10px;
}

p.mention-paragraph {
    margin-top: 0px;
}


/**********************************/


/*Footer*************************/

.footer {
    background-color: #D49D13;
}

.footer_content {
    height: 58px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links_footer {
    color: #EBEDF2;
    font-size: 19px;
    font-family: 'TTFirsNeue-Regular';
    margin-left: 17px;
    margin-right: 17px;
    text-decoration: none;
}

.footer_content:hover {
    text-decoration: underline;
}


/**********************************/


/*Checkout Page***********************************************************/

.checkout-container {
    display: flex;
    padding: 10.2% 12.6%;
    align-items: flex-start;
    justify-content: center;
}

.product-box {
    display: flex;
    background-color: #EBEDF2;
    box-shadow: rgba(61, 50, 22, 0.1) 0px 6px 12px 0px;
    margin-right: 9px;
    border-radius: 17px;
}

.product-box_content {
    display: flex;
    flex-direction: column;
    width: 321px;
    height: 323px;
}

.product-img {
    text-align: center;
    padding-top: 22px;
}

.product-img img {
    width: 207px;
    height: auto;
}

.product-box h2 {
    margin-top: 23px;
    margin-bottom: 9px;
    padding-left: 18px;
    color: #3D3216;
    font-size: 21px;
    font-family: 'TTFirsNeue-Bold';
}

.product-box p {
    margin: 0px;
    padding-bottom: 26px;
    padding-left: 18px;
    color: #3D3216;
    font-size: 21px;
    font-family: 'TTFirsNeue-Regular';
    width: 251px;
}

.form-box {
    background-color: #EBEDF2;
    margin-left: 9px;
    width: 464px;
    height: 383px;
    border-radius: 17px;
}

.form-box_content {
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.form-box_content input {
    height: 46px;
    margin-bottom: 18px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #3D3216;
    color: #3D3216;
    font-size: 18px;
    font-family: 'TTFirsNeue-Regular';
    outline: none;
}

.form-box_content label {
    margin-bottom: 4px;
    font-size: 21px;
    font-family: 'TTFirsNeue-Regular';
}

.form-box_content button {
    margin-top: 7px;
    border-radius: 3px;
    background-color: #D49D13;
    color: #EBEDF2;
    font-size: 19px;
    font-family: 'TTFirsNeue-Bold';
    border: none;
    height: 49px;
}